
@{
    ViewData["Title"] = "BaseInsurance";
}

<h1>Base Insurance Search</h1>

@model List<string>
<form action="/Home/SpecialtyInsuranceNames" method="post">

    @foreach (var baseName in Model)
    {
        @*<td>@Html.ActionLink(baseName, "SpecialtyInsuranceNames", "Home", "baseName")</td>
            <br />*@
        <input type="submit" name="baseName" value="@baseName" />
        <br />
    }
</form>

