
@{
    ViewData["Title"] = "RegisterUser";
}

@model  TrackDr.Models.Parent 
 
<h1>Additional Information</h1>

<form action="/Home/RegisterUser" method="post">
    <input type="text" name="HouseNumber"  placeholder="House Number"/>
    <input type="text" name="Street" placeholder="Street" />
    <input type="text" name="Street2" placeholder="Street" />
    <input type="text" name="City" placeholder="City"/>
    <input type="text" name="State" placeholder="State" />
    <input type="text" name="ZipCode" placeholder="Zip Code"/>
    <input type="submit" name="Submit" />
</form>

