@{
    ViewData["Title"] = "Saved Doctors";
}

@model IEnumerable<TrackDr.Models.Doctor>

<h1>Saved Doctors</h1>

@{ if (Model.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>Name:</th>
                <th>Details:</th>
                <th>Remove:</th>
            </tr>

            @foreach (var doctor in Model)
            {
                <tr>
                <td> @doctor.FirstName </td>

                @{string doctorId = doctor.DoctorId;}
                <td> @Html.ActionLink("More Details", "DoctorDetails", "Home", new { doctorId }, htmlAttributes: new { target = "_blank" }) </td>
                <td> @Html.ActionLink("Delete", "DeleteDoctor", new { doctorId }) </td>
                </tr>
            }
        </table>
    }
    else
    { <p>You have no doctors saved to My Doctors. Try <a href="/Home/Index/">searching</a> for a doctor</p>}
}