
@{
    ViewData["Title"] = "SavedDoctors";
}

@model IEnumerable<TrackDr.Models.Doctor>

<h1>Saved Doctors</h1>

<table class="table">
    <tr>
        <th>Name:</th>
        <th>More Details:</th>
        <th>Delete:</th>
    </tr>

    @foreach (var doctor in Model)
    {

        <tr>
            <td>@doctor.FirstName</td>

            @{string doctorId = doctor.DoctorId;}
            <td>@Html.ActionLink("More Details", "DoctorDetails", "Home", new { doctorId }, htmlAttributes: new { target = "_blank" })</td>
            <td>@Html.ActionLink("Delete", "DeleteDoctor", new { doctorId })</td>
        </tr>
    }
</table>