
@{
    ViewData["Title"] = "SavedDoctors";
}

@model IEnumerable<TrackDr.Models.SingleDoctor>

<h1>Saved Doctors</h1>
@{Console.WriteLine("stop point"); }
<table class="table">
    <tr>
        <th>Title:</th>
        <th>Name:</th>
        @*<th>Specialty:</th>*@
    </tr>

    
        @foreach(var doctor in Model)
        {

        <tr>
            <td>@doctor.data.profile.first_name</td>


            <td>@Html.ActionLink("More Details", "DoctorDetails", "Home")</td>
        </tr>
            
        }
    }
</table>